# Compiled python modules
*.pyc

# Local database
lwp.db
lwp.conf

# Debian packaging
debian/*debhelper*
debian/*substvars
debian/files
debian/lwp
debian/changelog

# Github pages
gh-pages

# Python packaging
*.egg-info
dist
build

# Pycharm conf
.idea/

# bower
jsbuild/node_modules/*
jsbuild/bower_components/*
lwp/static/css/*.css
lwp/static/js/*.js
lwp/static/img/*

#coverage
htmlcov/
.coverage
