{% extends "base.html" %}

{% block body %}

<div class="container">
	<h2><i class="glyphicon glyphicon-download"></i> Download debian package</h2>
	<table class="table">
		<thead>
			<tr>
				<th>File</th>
				<th>MD5SUM</th>
			</tr>
		</thead>
		<tbody id="debian">
		</tbody>
	</table>
  <h2><i class="glyphicon glyphicon-tags"></i> Download tagged version source</h2>
  <div>
    <ul id="tagged"></ul>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    $( document ).ready(function() {
      $.ajax('static/md5sum.json',
        {
          success: function (data, status) {
            for (var i = data.length - 1; i >= 0; i--) {
              var file = data[i];
              $('#debian').append('<tr><td><a href="' + file.file + '">' + file.file + '</a></td><td>' + file.md5 + '</td></tr>')
            }
          }
        });
        $.ajax('https://api.github.com/repos/claudyus/LXC-Web-Panel/tags',
        {
          success: function (data, status) {
            for (var i = 0; i <= data.length; i++) {
              var dati = data[i];
              $('#tagged').append('<li>Download <a href="' + dati.zipball_url + '">LXC-Web-Panel ' + dati.name + '</a> source</li>')
            }
          }
        });
    });
  </script>
{% endblock %}
