{% extends "base.html" %}

{% block body %}

<div class="container">
	<h2><i class="glyphicon glyphicon-download"></i> Download debian package</h2>
	<table class="table">
		<thead>
			<tr>
				<th>File</th>
				<th>MD5SUM</th>
			</tr>
		</thead>
		<tbody id="debian">
      {% for file in released_files%}
        <tr><td><a href="{{ file.file }}">{{ file.file }}</a></td><td>{{ file.md5 }}</td></tr>
      {% endfor %}
		</tbody>
	</table>

  <div class="col-lg-7">
    <h2><i class="glyphicon glyphicon-tags"></i> Download tagged version source</h2>
    <div>
    {# js hook #}
      <ul id="tagged"></ul>
    </div>
  </div>
  
  <div class="col-lg-5">
      <h2>Languages information</h2>
    <div id="langs">
    {# js hook #}
      <canvas id="langs" width="200" height="200"></canvas>
      <ul></ul>
    </div>
  </div>
  
  <div class="col-lg-12">
    <h2>Stargazers map</h2>
    {# js hook #}
    <div id="star-map" style="height: 400px"></div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCug2hIgGhPK1RR8YoAY3dd88rf3OwANuc&sensor=false&libraries=visualization"></script>
  <script src="http://claudyus.github.io/LXC-Web-Panel/static/js/vendor/red-dwarf.js"></script>
  <script>
    $( document ).ready(function() {
        $.ajax('https://api.github.com/repos/claudyus/LXC-Web-Panel/tags',
        {
          success: function (data, status) {
            for (var i = 0; i < data.length; i++) {
              var dati = data[i];
              $('#tagged').append('<li>Download <a href="' + dati.tarball_url + '">LXC-Web-Panel ' + dati.name + '</a> source</li>')
            }
          }
        });
        $.get('https://api.github.com/repos/claudyus/LXC-Web-Panel/languages',
          function (data, status) {
            var ctx = $("#langs canvas").get(0).getContext("2d");
            data_graph = []
            for(var k in data) {
              col_lang = '#'+(Math.random()*0xFFFFFF<<0).toString(16)
              data_graph.push({value: data[k], color: col_lang })
              $("#langs ul").append('<li><strong>' + k + '</strong> - ' + data[k] + ' BOC</li>')
            }
            new Chart(ctx).Doughnut(data_graph, {animation : true, animationSteps: 100})
          });

        var stars = new RedDwarf({
          user: 'claudyus',
          repository: 'LXC-Web-Panel',
          map_id: 'star-map',
          cache_location: 'static/stars-cache.json'
        });

        //console.log(stars.toJSON());

    });
   
  </script>
{% endblock %}
