{% extends "base.html" %}

{% block body %}

<div class="container">
	<i class="glyphicon glyphicon-cloud-download"></i> <a href="https://github.com/claudyus/LXC-Web-Panel/archive/master.zip">Download source code</a>
	<h2>Download debian package</h2>
	<table class="table">
		<thead>
			<tr>
				<th>File</th>
				<th>MD5SUM</th>
			</tr>
		</thead>
		<tbody id="debian">
		</tbody>
	</table>
</div>
{% endblock %}
{% block script %}
  <script>
    $( document ).ready(function() {
      $.ajax('static/md5sum.json',
        {
          success: function (data, status) {
            for (var i = data.length - 1; i >= 0; i--) {
              var file = data[i];
              $('#debian').append('<tr><td><a href="' + file.file + '">' + file.file + '</a></td><td>' + file.md5 + '</td></tr>')
            }
          }
        });
    });
  </script>
{% endblock %}
