{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div id="lxc_carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators">
                <li data-target="#lxc_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#lxc_carousel" data-slide-to="1" class=""></li>
                <li data-target="#lxc_carousel" data-slide-to="2" class=""></li>
                <li data-target="#lxc_carousel" data-slide-to="3" class=""></li>
                <li data-target="#lxc_carousel" data-slide-to="4" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive img-center" src="static/images/screencapture-login.png" alt="">

                    <div class="carousel-caption">
                        <h4>Multiple login backend</h4>
                        <p>Lwp support multiple auth backend like database based, LDAP/Active Directory,  httpasswd file and pam.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive img-center" src="static/images/screencapture-home.png" alt="">

                    <div class="carousel-caption">
                        <h4>Clear homepage</h4>
                        <p>A clear homepage with informations about containers and their status, ipv4 and resource usages.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive img-center" src="static/images/screencapture-edit.png" alt="">

                    <div class="carousel-caption">
                        <h4>Advanced configuration</h4>
                        <p>An extensive and improved support to lxc container configuration options.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive img-center" src="static/images/screencapture-tokens.png" alt="">

                    <div class="carousel-caption">
                        <h4>Api feature</h4>
                        <p>A RestAPI implementation based on token auth to control the lxc instances easly.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive img-center" src="static/images/screencapture-about.png" alt="">

                    <div class="carousel-caption">
                        <h4>Community based code</h4>
                        <p>The project is enrich by code from many users and is shipped as deb package to allow easly installation.</p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>
{% endblock %}
