{% extends "layout.html" %}
{% block title %}{{container|capitalize}}{% endblock %}
{% block content %}
<div class="span6">
    {{ super() }}
    <h3 class="head">{{ container|capitalize }}</h3>
    <div class="btn-group pull-right" data-toggle="buttons-radio">
        <div class="btn-group">
            {% set start_action = {'STOPPED':'start','FROZEN':'unfreeze'} %}
            <a class="btn{% if infos['status'] == 'RUNNING' %} disabled{% endif %}" {% if infos['status'] == 'STOPPED' or infos['status'] == 'FROZEN' %}href="{{ url_for('main.action', name=container, action=start_action[infos['status']], from='edit') }}"{% endif %}><i class="icon-play"></i> Start</a>
            <a class="btn{% if infos['status'] == 'STOPPED' %} disabled{% endif %}" {% if infos['status'] == 'RUNNING' or infos['status'] == 'FROZEN' %}href="{{ url_for('main.action', name=container, action='stop', from='edit') }}"{% endif %}><i class="icon-stop"></i> Stop</a>
            <a class="btn{% if infos['status'] == 'FROZEN' or infos['status'] == 'STOPPED' %} disabled{% endif %}" {% if infos['status'] == 'RUNNING' %}href="{{ url_for('main.action', name=container, action='freeze', from='edit') }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
        </div>
    </div>

    <form id="config" class="form-horizontal" action="{{ url_for('main.edit', container=container) }}" method="post">
        <div class="control-group">
            <label class="control-label" for="utsname">Hostname</label>
            <div class="controls">
                <input pattern="{{ regex.utsname }}" type="text" id="utsname" name="utsname" value="{{ settings.utsname }}">
            </div>
        </div>

        <hr>

        <div class="control-group">
            <label class="control-label" for="start_auto">Start at boot</label>
            <div class="controls">
                <input type="checkbox" id="start_auto" name="start_auto" value="{{ settings.start_auto }}" {% if settings.start_auto == '1' %} checked{% endif %}/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="start_delay">Delay at boot time</label>
            <div class="controls">
                <input pattern="{{ regex.start_delay }}" type="number" id="start_delay" name="start_delay" value="{{ settings.start_delay }}" placeholder="Undefined">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="start_order">Start order</label>
            <div class="controls">
                <input pattern="{{ regex.start_order }}" type="number" id="start_order" name="start_order" value="{{ settings.start_order }}" placeholder="Undefined">
            </div>
        </div>

        <hr>

        <div class="control-group switch-network-flags">
            <label class="control-label" for="flags">Network flag</label>
            <div class="controls">
                <input type="checkbox" id="flags" name="flags" value="{{ settings.flags }}"{% if settings.flags == 'up' %} checked{% endif %}/>
            </div>
        </div>

        <div id="network"{% if not settings.flags %} class="hide"{% endif %}>
        <div class="control-group">
            <label class="control-label" for="type">Network type</label>
            <div class="controls">
                <select pattern="{{ regex.type }}" type="text" id="type" name="type" value="{{ settings.type }}">
                    <option value="empty" {% if settings.type == "empty" %}selected{% endif %}>empty</option>
                    <option value="veth" {% if settings.type == "veth" %}selected{% endif %}>veth</option>
                    <option value="vlan" {% if settings.type == "vlan" %}selected{% endif %}>vlan</option>
                    <option value="macvlan" {% if settings.type == "macvlan" %}selected{% endif %}>macvlan</option>
                    <option value="phys" {% if settings.type == "phys" %}selected{% endif %}>phys</option>top
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="link">Network link</label>
            <div class="controls">
                <input pattern="{{ regex.link }}" type="text" id="link" name="link" value="{{ settings.link }}" placeholder="Undefined">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="hwaddr">HW address</label>
            <div class="controls">
                <input pattern="{{ regex.hwaddr }}" type="text" id="hwaddr" name="hwaddr" value="{{ settings.hwaddr }}" placeholder="Undefined">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="ipv4">IPv4 address</label>
            <div class="controls">
                <input pattern="{{ regex.ipv4 }}"
                       type="text" id="ipv4" name="ipv4" value="{{ settings.ipv4 }}" placeholder="Undefined">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="ipv4gw">IPv4 gateway</label>
            <div class="controls">
                <input pattern="{{ regex.ipv4gw }}"
                       type="text" id="ipv4gw" name="ipv4gw" value="{{ settings.ipv4gw }}" placeholder="Undefined">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="ipv6">IPv6 address</label>
            <div class="controls">
                <input pattern="{{ regex.ipv6 }}" type="text" id="ipv6" name="ipv6" value="{{ settings.ipv6 }}" placeholder="Undefined">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="ipv6gw">IPv6 gateway</label>
            <div class="controls">
                <input pattern="{{ regex.ipv6gw }}" type="text" id="ipv6gw" name="ipv6gw" value="{{ settings.ipv6gw }}" placeholder="Undefined">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="script_up">Network script up</label>
            <div class="controls">
                <input pattern="{{ regex.script_up }}" type="text" id="script_up" name="script_up" value="{{ settings.script_up }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="script_down">Network script down</label>
            <div class="controls">
                <input pattern="{{ regex.script_down }}" type="text" id="script_down" name="script_down" value="{{ settings.script_down }}">
            </div>
        </div>

</div>

<hr>

<div class="control-group form-inline">
    <label class="control-label" for="memlimit">Memory limit *</label>
    <div class="controls">
        <input class="fix-height" pattern="[0-9]+" type="range" id="memlimit" name="memlimit" min="16" max="{{ host_memory.total }}" value="{% if settings.memlimit %}{{ settings.memlimit }}{% else %}{{ host_memory.total }}{% endif %}" onChange="updateMemInput('inputMemlimit', this.value, {{ host_memory.total }});">
        <input pattern="[0-9]+" class="input-mini{% if not settings.memlimit %} hide{% endif %}" id="inputMemlimit" type="number" min="16" max="{{ host_memory.total }}" value="{% if settings.memlimit %}{{ settings.memlimit }}{% endif %}" onChange="updateMemSlider('memlimit', this.value);"><span class="help-inline fix-height">{% if settings.memlimit %}MB{% else %}Unlimited{% endif %}</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="sliderSwlimit">Memory + Swap limit *</label>
    <div class="controls">
        <input class="fix-height" pattern="[0-9]+" type="range" id="sliderSwlimit" name="swlimit" min="32" max="{{ host_memory.total * 2 }}" value="{% if settings.swlimit %}{{ settings.swlimit }}{% else %}{{ host_memory.total * 2 }}{% endif %}" onChange="updateMemInput('inputSwlimit', this.value, {{ host_memory.total * 2 }});">
        <input pattern="[0-9]+" class="input-mini{% if not settings.swlimit %} hide{% endif %}" id="inputSwlimit" type="number" min="32" max="{{ host_memory.total *2 }}" value="{% if settings.swlimit %}{{ settings.swlimit }}{% endif %}" onChange="updateMemSlider('sliderSwlimit', this.value);"><span class="help-inline fix-height">{% if settings.swlimit %}MB{% else %}Unlimited{% endif %}</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputCPUs">CPUs **</label>
    <div class="controls">
        <input pattern="{{ regex.cpus }}" type="text" id="inputCPUs" name="cpus" value="{{ settings.cpus }}" placeholder="All">
        <span class="help-inline"><small>(e.g 0 or 0-1,3 or 0,3)</small></span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputCPUShares">CPU Shares **</label>
    <div class="controls">
        <input pattern="{{ regex.shares }}" type="number" id="inputCPUShares" name="shares" min="16" step="2" value="{{ settings.shares }}" placeholder="1024">
    </div>
</div>

<hr>

<div class="control-group">
    <label class="control-label" for="inputRootfs">Root FS</label>
    <div class="controls">
        <input pattern="{{ regex.rootfs }}" type="text" id="inputRootfs" name="rootfs" value="{{ settings.rootfs }}">
        <span class="help-inline"><small>(e.g /var/lib/lxc/{{container}}/rootfs)</small></span>
    </div>
</div>

<hr>

<div class="control-group">
    <label class="control-label" for="loglevel">Log level</label>
    <div class="controls">
        <select type="text" id="loglevel" name="loglevel" value="{{ settings.loglevel }}">
            <option value="0">trace</option>
            <option value="1">debug</option>
            <option value="2">info</option>
            <option value="3">notice</option>
            <option value="4">warn</option>
            <option value="5">error</option>
            <option value="6">critical</option>
            <option value="7">alert</option>
            <option value="8">fatal</option>
        </select>
        <span class="help-inline"><small>Default log level: 5 - error</small></span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="logfile">Log file</label>
    <div class="controls">
        <input type="text" pattern="{{ regex.logfile }}" id="logfile" name="logfile" value="{{ settings.logfile }}">
        <span class="help-inline"><small></small></span>
    </div>
</div>

<hr>
<div class="control-group">
    <label class="control-label" for="bucket">Bucket token</label>
    <div class="controls">
        <input pattern="[a-zA-Z0-9_/\-]{32}" type="text" id="bucket" name="bucket" value="{{ settings.bucket }}">
        <span class="help-inline"><small>md5 like token of the backup bucket</small></span>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary btn-success" name="submit" value="apply"><i class="icon-ok icon-white"></i> Apply</button>
    </div>
</div>

<p class="muted"><small>* Set to max to unset (unlimited)<br />** Leave empty to unset</small></p>
</form>


</div>
<div class="span3 visible-desktop">
    <ul class="nav nav-list">{% set span = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
        <li class="nav-header">Infos</li>
        <li><strong>Status :</strong> <span class="label label-{{ span[infos.status] }}">{{ infos.status|capitalize }}</span></li>
        {% if infos.status != 'STOPPED' %}<li><strong>Pid :</strong> {{ infos.pid }}</li>
        <li><strong>Network :</strong> {% if settings.flags == 'up' %}<span class="label label-success">Up</span>{% else %}<span class="label label-important">Down</span>{% endif %}</li>
        {% if infos.memusg %}<li id="{{ container }}"><strong>Mem. usage :</strong> {{ render_memory_wrapper(infos.memusg) }}</li>{% endif %}{% endif %}
        <li><strong>Arch :</strong> {{ settings.arch }}</li>
        {% if infos.status == "STOPPED" %}
        <p style="padding-top: 10px;"><a class="btn btn-small btn-inverse" data-toggle="modal" data-target="#cloneCT"> <i class="icon-repeat icon-white"></i> Clone <abbr title="Container">CT</abbr></a></p>
        {% endif %}
        {% if storage_repos %}
        <p style="padding-top: 10px;"><a class="btn btn-small btn-primary" data-toggle="modal" data-target="#backupCT"> <i class="icon-hdd icon-white"></i> Backup <abbr title="Container">CT</abbr></a></p>
        {% endif %}
    </ul>
</div>
{% include "includes/modal_clone.html" %}
{% include "includes/modal_backup.html" %}
{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value) -%}
{% if value != 0 %}<span class="label label-{{ memory_color(value) }}">{{ value }} MB</span>{% endif %}
{%- endmacro %}

{% block script %}
<script type="text/javascript">
        {% if infos['status'] != 'STOPPED' %}
            function memory_color(value){
                if(value != 0)
                    if ('0' <= value && value <= '512') return 'success';
                    else if ('512' <= value && value < '1024') return 'warning';
                    else return 'important';
            }

            function refreshMemory(container){
                $.getJSON('{{ url_for('main.refresh_memory_containers', name='CONTAINER') }}'.replace("CONTAINER", container), function(data) {
                    var el = $('#'+container+' span');
                    el.text(data.memusg+' MB');
                    el[0].className = el[0].className.replace(/label\-(success|warning|important)/g,'label-'+memory_color(data.memusg));
                });
            }

            window.setInterval('refreshMemory("{{ container }}")', 5000);
        {% endif %}

        // Network flags
        var network = $("#network");
        $(".switch-network-flags").on('switch-change', function(e, data){
            if(data.value){
                $(data.el).val('up');
                network.delay(350).slideDown();
            }
            else{
                $(data.el).val('down');
                network.delay(350).slideUp();
            }
        });

        function updateMemInput(elem, value, mem_total){
            // called to update the inputText value when slider onChange
            if (value < mem_total) {
                $('#' + elem).val(value).show().next('.help-inline').text('MB');
            }
            else {
                $('#' + elem).val(mem_total).hide().next('.help-inline').text('Unlimited');
            }
        };

        function updateMemSlider(elem, value){
            // called to update the slider value when inputText changes
            $('#' + elem).val(value);
        };
    </script>
{% endblock %}
