{% set td = {'running':'success','frozen':'info','stopped':'important'} %}
{% set tr = {'running':'success','frozen':'info','stopped':'error'} %}
{% set disabled = {'running':'success','frozen':'info','stopped':'important'} %}
{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="span9">
    {{ super() }}

    <div class="hero-unit">
        <div class="row buttons">
            {% if session.su == 'Yes' %}
            <span class="pull-right"><a class="btn btn-small btn-danger" data-toggle="modal" data-target="#reboot"> <i class="icon-off icon-white"></i> Reboot</a></span>
            {% if containers != [] %}
                <span class="pull-right"><a class="btn btn-small btn-inverse" data-toggle="modal" data-target="#cloneCT"> <i class="icon-repeat icon-white"></i> Clone <abbr title="Container">CT</abbr></a></span>
                {% if storage_repos %}
                    <span class="pull-right"><a class="btn btn-small btn-primary" data-toggle="modal" data-target="#backupCT"> <i class="icon-hdd icon-white"></i> Backup <abbr title="Container">CT</abbr></a></span>
                {% endif %}
            {% endif %}
            <span class="pull-right"><a class="btn btn-small btn-success" data-toggle="modal" data-target="#createCT"><i class="icon-plus-sign icon-white"></i> Create <abbr title="Container">CT</abbr></a></span>
            {% endif %}
        </div>
        <div class="row">
            <h3 style="margin-left: 10px">{{ dist }} ({{ host }})</h3>
            <div class="span4">
                <p>CPU usage : <span id="cpu-usage" class="hide"></span></p>
                <div class="progress">
                    <div class="bar" id="cpu-usage-bar"></div>
                </div>
                <p>Memory usage : <span id="memory-usage" class="hide"></span></p>
                <div class="progress">
                    <div class="bar" id="memory-usage-bar"></div>
                    <abbr title="Cached memory"><div class="bar bar-success" id="memory-cache-usage-bar"></div></abbr>
                </div>
            </div>
            <div class="span4">
                <p>Disk usage : <span id="disk-usage" class="hide"></span></p>
                <div class="progress">
                    <div class="bar" id="disk-usage-bar"></div>
                </div>
                <p>Uptime : <span id="uptime" class="hide"></span></p>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="hidden-phone">Status</th>
                <th>Name</th>
                <th class="hidden-phone">Hostname</th>
                <th>IP Address</th>
                <th>Mem. usage</th>
                <th class="hidden-phone">Auto Start</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for status in containers_all %}
            <tbody>
                {% for container in status.containers %}
                    <tr class="{{ tr[status.status] }}">
                        {% if loop.first %}<td rowspan="{{ status.containers|count }}" class="hidden-phone"><span class="label label-{{ td[status.status] }}">{{ status.status|capitalize }}</span></td>{% endif %}
                        <td><a href="{{ url_for('main.edit',container=container.name) }}" title="Click to edit {{container.name}}">{{container.name}}</a></td>
                        <td class="hidden-phone">{{container.settings.utsname}}</td>
                        <td>{% if container.settings.ipv4  %}{{container.settings.ipv4}}{% else %}-{% endif %}</td>
                        <td id="{{container.name}}">{{ render_memory_wrapper(container.memusg, container.settings.memlimit) }}</td>
                        <td class="hidden-phone">
                            {% if container.settings.start_auto == '1' %}
                                <i class="icon-ok"></i>
                                {% if container.settings.start_order %} {{ container.settings.start_order }} {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-toolbar" style="margin:8px 0;">
                                <div class="btn-group">
                                    {% set start_action = {'stopped':'start','frozen':'unfreeze'} %}
                                    <a class="btn btn-small{% if status.status == 'running' %} disabled{% endif %}"{% if status.status == 'stopped' or status.status == 'frozen' %} href="{{ url_for('main.action', name=container.name, action=start_action[status.status]) }}"{% endif %}><i class="icon-play"></i> Start</a>
                                    <a class="btn btn-small{% if status.status == 'stopped' %} disabled{% endif %}"{% if status.status == 'running' or status.status == 'frozen' %} href="{{ url_for('main.action', name=container.name, action='stop') }}"{% endif %}><i class="icon-stop"></i> Stop</a>
                                    <a class="btn btn-small{% if status.status == 'frozen' or status.status == 'stopped' %} disabled{% endif %} hidden-phone"{% if status.status == 'running' %} href="{{ url_for('main.action', name=container.name, action='freeze') }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
                                </div>
                                {% if session.su == 'Yes' and status.status == 'stopped' %}<a class="pull-right close destroy" data-container-name="{{container.name}}" style="margin-top:4px;"><i class="icon-remove-sign"></i></a>{% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>
</div>
{% if session.su == 'Yes' %}
    {% include "includes/modal_reboot.html" %}
    {% include "includes/modal_create.html" %}

    {% if containers != [] %}
        {% include "includes/modal_clone.html" %}
        {% include "includes/modal_backup.html" %}
        {% include "includes/modal_destroy.html" %}
    {% endif %}
{% endif %}

{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value, limit) -%}
    {% if value != 0 %}
        <span class="label label-{{ memory_color(value) }}">{{ value }}{% if limit != '' %} / {{ limit }}{% endif %} MB</span>
    {% else %}
        <span class="label label-success"></span>
    {% endif %}
{%- endmacro %}

{% block script %}
<script type="text/javascript">
            function refreshMemoryHost(){
                $.getJSON('{{ url_for('main.refresh_memory_containers', name='host') }}', function(data) {
                    $('#memory-usage').text(data.used +' / '+ data.total +' MB').fadeIn();
                    $('#memory-usage-bar').css({'width':data.percent+'%'});
                    $('#memory-cache-usage-bar').css({'width':data.percent_cached+'%'});

                    refreshMemoryContainers()
                });
            }

            function refreshMemoryContainers(){
                $.getJSON('{{ url_for('main.refresh_memory_containers', name='containers') }}', function(data) {
                    data = data.data;
                    for (i in data) {
                        var el = $('#'+data[i].name+' span');
                        if (data[i].settings.memlimit == '') {
                            el.text(data[i].memusg + ' MB');
                        } else {
                            el.text(data[i].memusg + " / " + data[i].settings.memlimit + ' MB');
                        }
                        el[0].className = el[0].className.replace(/label\-(success|warning|important)/g,'label-'+memory_color(data[i].memusg, data[i].settings.memlimit));
                    }
                });

                $('#home-load').fadeOut();
            }

            function memory_color(value, total){
                if(total == '') {
                    if(value != 0)
                        if ('0' <= value && value <= '512')
                            return 'success';
                        else if ('512' <= value && value < '1024')
                            return 'warning';
                        else
                            return 'important';
                }
                else {
                    value = value / total;
                    if (0 <= value && value <= 0.6)
                         return 'success';
                    else if (0.6 <= value && value < 0.8)
                        return 'warning';
                    else
                        return 'important';
                }
            }

            function refresh(){
                $('#home-load').fadeIn();

                $.getJSON('{{ url_for('main.refresh_info') }}', function(data) {
                    $('#uptime').text(data.uptime.day +' day(s) '+ data.uptime.time).fadeIn();

                    $('#cpu-usage').text(data.cpu +'%').fadeIn();
                    $('#cpu-usage-bar').css({'width':data.cpu + '%'});

                    $('#disk-usage').text(data.disk.used +' ('+ data.disk.free +' free)').fadeIn();
                    $('#disk-usage-bar').css({'width':data.disk.percent});

                    refreshMemoryHost()
                });
            }

            $(function() {
                refresh();
                {% if session.su == 'Yes' and containers == [] %}$('#createCT').modal('show'){% endif %}
                window.setInterval('refresh()', 15000);
            });

            {% if session.su == 'Yes' %}$(document).ready(function(){

                $(".destroy").on('click',function(e){
                    $(".destroy-link").attr('href',"{{url_for('main.action', action='destroy') }}" + "&name=" + $(this).data('container-name'));
                    $('.modal-body #destroy-container-name').text($(this).data('container-name'));
                    $('#destroy').modal('show');
                });

                // Create CT
                $('#advancedcreate').click(function(e){ e.preventDefault(); $('#advancedcreatediv').slideToggle(); });

                // Clone CT
                $('#advancedclone').click(function(e){ e.preventDefault(); $('#advancedclonediv').slideToggle(); });

                $(".backingstore").on('change',function(){
                        var _val = $(this).val();
                        var _lvm = $(this).closest('.advanced-wrapper').find('.lvm');
                        var _zfs = $(this).closest('.advanced-wrapper').find('.zfs');
                        var _directory = $(this).closest('.advanced-wrapper').find('.directory');

                        if( _val == 'lvm'){
                            _lvm.slideDown();
                            _directory.slideUp();
                            _zfs.slideUp();
                        }
                        else if ( _val == 'directory' ){
                            _directory.slideDown();
                            _lvm.slideUp();
                            _zfs.slideUp();
                        }
                        else if ( _val == 'zfs'){
                            _zfs.slideDown();
                            _lvm.slideUp();
                            _directory.slideUp();
                        }
                        else{
                            _zfs.slideUp();
                            _directory.slideUp();
                            _lvm.slideUp();
                        }
                    });

                    $('.modalbutton').on('click', function () {
                        $('.buttons-modal-footer').slideUp()
                        $('.loader-modal-footer').slideDown()
                    })
            });{% endif %}
</script>
{% endblock %}
