<div class="col-md-3 sidebar">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            General
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <a href="{{ url_for('home') }}" id="home-btn btn-default"><i class="glyphicon glyphicon-home"></i> Overview<i class="glyphicon glyphicon-refresh hide" id="home-load"></i></a>
        </div>
      </div>
    </div>
    {% if containers != [] %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Containers
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          {% for c in containers %}
          <ul class="nav nav-list">
            <li{% if request.path=='/'+ c +'/edit' %} class="active"{% endif %}><a href="{{ url_for('edit',container=c) }}"><i class="glyphicon glyphicon-hdd"></i> {{c}}</a></li>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      {% if session.su == 'Yes' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              LXC Settings
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-list">
              <li{% if request.path=="/settings/lxc-net" %} class="active"{% endif %}><a href="{{ url_for('lxc_net') }}"><i class="glyphicon glyphicon-globe"></i> Networking</a></li>
              <li{% if request.path=="/lwp/tokens" %} class="active"{% endif %}><a href="{{ url_for('lwp_tokens') }}"><i class="glyphicon glyphicon-lock"></i> API tokens</a></li>
              <li{% if request.path=="/checkconfig" %} class="active"{% endif %}><a href="{{ url_for('checkconfig') }}"><i class="glyphicon glyphicon-check"></i> Check config</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              LXC Web Panel
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
              <ul class="nav nav-list">
                {% if session.su == 'Yes' and auth != 'ldap' %}
                  <li{% if request.path=="/lwp/users" %} class="active"{% endif %}><a href="{{ url_for('lwp_users') }}"><i class="glyphicon glyphicon-user"></i> Users</a></li>
                {% endif %}
                <li{% if request.path=="/about" %} class="active"{% endif %}><a href="{{ url_for('about') }}"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
