<div id="createCT" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createCTLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="{{ url_for('create_container') }}" style="margin:0;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;<span class="sr-only">Close</span></button>
					<h3 id="createCTLabel">Create container</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
							<input class="form-control" id="inputName" type="text" pattern="(?!^containers$)[a-zA-Z0-9_-]+" placeholder="Name" name="name">
						</div>
					</div>
					<div class="form group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-download-alt"></i></span>
							<select class="form-control" id="selectTemplate" name="template">
								{% for template in templates %}<option value="{{ template }}" {% if template == 'ubuntu' %}selected{% endif %}>{{ template }}</option>{% endfor %}
							</select>
						</div>
					</div>
					<button id ="advancedcreate" class="btn">Advanced options</button>
					<div id="advancedcreatediv" class="advanced-wrapper hide">
						<br />
						<div class="form-group pull-right">
							<label class="control-label" for="inputCommand">LXC Container configuration</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
								<input class="form-control" type="text" id="inputCommand" name="command" placeholder="Container command">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<label class="control-label" for="backingstorecreate">Backing store*</label>
								<span class="input-group-addon"><i class="glyphicon glyphicon-hdd"></i></span>
								<select id="backingstorecreate" class="backingstore" name="backingstore">
										<option value="default" selected>Default</option>
										<option value="directory">Directory</option>
										<option value="lvm">LVM</option>
										<option value="zfs">ZFS</option>
								</select>
							</div>
							<span class="help-inline"><small>*By default it is 'none', which is a simple directory tree under /var/lib/lxc/&lt;name&gt;/rootfs</small></span>
						</div>
						<div class="form-group hide directory">
							<label class="control-label" for="inputDirectory">Directory</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-folder-close"></i></span>
								<input class="form-control" type="text" id="inputDirectory" name="dir" placeholder="Directory">
							</div>
						</div>
						<div class="form-group hide lvm">
							<div class="controls">
								<label class="control-label" for="inputLV">LV Name</label>
								<input type="text" id="inputLV" name="lvname" placeholder="LV Name">
								<label class="control-label" for="inputVG">VG Name</label>
								<input type="text" id="inputVG" name="vgname" placeholder="VG Name">
								<label class="control-label" for="inputFS">File system</label>
								<input type="text" id="inputFS" name="fstype" placeholder="ext4">
								<label class="control-label" for="inputFSSize">Size</label>
								<input type="text" id="inputFSSize" name="fssize" placeholder="500M">
							</div>
						</div>
						<div class="form-group hide zfs">
							<div class="controls">
								<label class="control-label" for="zpoolname">zpool Name</label>
								<input type="text" id="inputZFS" name="zpoolname" placeholder="lxc"> 
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="buttons-modal-footer">
						<button class="btn btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
						<button type="submit" class="btn btn-success modalbutton"><i class="glyphicon glyphicon-plus-sign glyphicon glyphicon-white"></i> Create</button>
					</div>
					<div class="loader-modal-footer hide">
						<div class="progress progress-striped active">
							<div class="bar" style="width: 100%;"></div>
						</div>
						<p class="text-center">This could take a while...</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
