{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul>
            {% for p in posts %}
                <li><a href="http://claudyus.github.io/LXC-Web-Panel/{{ p.url }}">{{ p.title }}</a></li>
                <p><small>{{ p.date | date:"d/m/Y" }}</small></p>
            {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9">
            <article>
                <header>
                    <h1>{{ title }}</h1>
                    <h5><time pubdate="pubdate">{{ date|date:"F j, Y" }}</time> by <span class="author">{{ author }}</address></h5>
                </header>
                    {% block news %}{% endblock %}
                <footer class="pull-right">
                    Thanks for reading.
                </footer>
            </article>
        </div>

    </div>
</div>
{% endblock %}
