Source: lwp
Section: net
Priority: extra
Maintainer: Claudio Mignanti <c.mignanti@gmail.com>
Build-Depends: debhelper (>=9), python
X-Python-Version: >= 2.7
Vcs-Git: https://github.com/claudyus/LXC-Web-Panel.git
Standards-Version: 3.9.5

Package: lwp
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, lxc (>= 1.0), python-flask (>= 0.10)
Description: LXC Web Panel improved
 Built ${misc:buildDate}
