#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_gencontrol :
	echo "misc:buildDate=$(shell date)" >> debian/lwp.substvars
	dh_gencontrol

# a better way would be to use dh_python rather than using a debian/install
# file, but this would require a setup.py, and then we don't have to do
# -X ".pyc" anymore either (which is a bonus), however this would also install
# the whole thing under /usr/lib/pyshared (which is not a bad thing), not /srv
%:
	dh $@ -X "__pycache__" -X ".pyc"
