

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.contributor {
	vertical-align: top;
	padding: 0 0 3px 20px;
}
.contributor strong {
	position: absolute;
	margin: 3px 0 0 10px;
}
.contributor img {
	width: 60px;
	height: 60px;
}
.contributor commits {
	margin-left: 15px;
}
.contributor i {
    margin-right: 3px;
}

.star {
	height: 50px;
	margin: 0 0 3px 20px;
}

.item img {
	height: 300px !important;
}

.literal {
    color: brown;
    padding: 2px 7px;
    background-color: #E0DFDF;
    border-radius: 5px;
}